.report-username-form-wrapper{
    display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.report-username-form .username-column{
    flex-grow: 1;
}

.report-username-form .info-column{
    flex-grow: 2;
}

